### Python ###
# Virtual environments
.venv/
venv/
ENV/

# Bytecode and cache
__pycache__/
*.py[cod]
*.pyc
.python-version
.pytest_cache/

### Environment ###
.env
.env.*
!.env.example  # Keep example env template

### Logs ###
*.log
logs/
error.log
service.log

### Frontend ###
frontend/dist/
frontend/node_modules/

### Test files ###
tests/__pycache__/

### IDE ###
.vscode/
.idea/

### Data ###
data/